{% extends "layout.html" %}
{% load static %}

{% block title %}
    XTraffic
{% endblock %}

{% block content %}
<h1 class="welcome-text">Welcome to XTraffic</h1>
<h2>Your safe hub for all illegal desires😉</h2>
<div class="photo-grid">
    <div class="photo-item">
        <a href="{% url 'drugs' %}" class="photo-link">
            <img src="{% static 'home/photo1.jpg' %}" alt="Photo 1">
            <p>DRUGS</p>
        </a>
    </div>
    <div class="photo-item">
        <a href="/slaves" class="photo-link">
            <img src="{% static 'home/photo2.jpg' %}" alt="Photo 2">
            <p>Slaves</p>
        </a>        
    </div>
    <div class="photo-item">
        <a href="{% url 'guns' %}" class="photo-link">
            <img src="{% static 'home/photo3.jpg' %}" alt="Photo 3">
            <p>GUNS</p>
        </a>
    </div>
    <div class="photo-item">
        <a href="{% url 'prostitutes' %}" class="photo-link">
            <img src="{% static 'home/photo4.jpg' %}" alt="Photo 4">
            <p>Prostitutes</p>
        </a>
    </div>
</div>
{% endblock %}











{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}">XTraffic</a>
    </div>
    <div class="content">
        <div class="left"></div>
        <div class="middle">
            <h1 class="welcome-text">Welcome to XTraffic</h1>
            <h2>Your safe hub for all illegal desires😉</h2>
            <div class="photo-grid">
                <div class="photo-item">
                    <a href="{% url 'drugs' %}" class="photo-link">
                        <img src="{% static 'home/photo1.jpg' %}" alt="Photo 1">
                        <p>DRUGS</p>
                    </a>
                </div>
                <div class="photo-item">
                    <a href="{% url 'slaves' %}" class="photo-link">
                        <img src="{% static 'home/photo2.jpg' %}" alt="Photo 2">
                        <p>Slaves</p>
                    </a>
                </div>
                <div class="photo-item">
                    <a href="{% url 'guns' %}" class="photo-link">
                        <img src="{% static 'home/photo3.jpg' %}" alt="Photo 3">
                        <p>GUNS</p>
                    </a>
                </div>
                <div class="photo-item">
                    <a href="{% url 'prostitutes' %}" class="photo-link">
                        <img src="{% static 'home/photo4.jpg' %}" alt="Photo 4">
                        <p>Prostitutes</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="right"></div>
    </div>
</body>
</html> {% endcomment %}
