{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <p>Go back to <a href="/"> Home </a> page. <p>
{% endblock %}



<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts List</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <p>Go back to <a href="/"> Home </a> page. <p>
</head>
<body>
    <h1>Post List</h1>
    
</body>
</html>